.theme-button {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  border: 5px solid rgb(50, 156, 205);
  border-radius: 35%;
  background: linear-gradient(to bottom left, #333, #999);
  height: 50px;
  width: 75px;
  margin: 50px 0px 0px 50px;
  transition: ease 1s;
  box-shadow: 5px 5px #888888;

  &:hover {
    background: linear-gradient(to bottom left, rgb(35, 134, 52), #333);
    transform: scale(1.2);
    opacity: 1.1;
  }

  a {
    margin-top: 5px;
  }
}
